In [2]:
from csv import reader
opened = open('/Users/Abrar/Desktop/DataQuest/Datasets/nyc_taxis.csv')
read = reader(opened)
potus = list(read)
potus

In [4]:
import numpy as np
data_ndarray = np.array([10, 20, 30])

In [8]:
import csv
import numpy as np

# import nyc_taxi.csv as a list of lists
f = open("/Users/Abrar/Desktop/DataQuest/Datasets/nyc_taxis.csv", "r")
taxi_list = list(csv.reader(f))

# remove the header row
taxi_list = taxi_list[1:]

# convert all values to floats
converted_taxi_list = []
for row in taxi_list:
    converted_row = []
    for item in row:
        converted_row.append(float(item))
    converted_taxi_list.append(converted_row)

# start writing your code below this comment
taxi = np.array(converted_taxi_list)

In [9]:
taxi_shape = taxi.shape
print(taxi_shape)

(89560, 15)

In [10]:
row_0 = taxi[0]
rows_391_to_500 = taxi[391:501]
row_21_column_5 = taxi[21,5]

In [11]:
columns_1_4_7 = taxi[:,[1,4,7]]
row_99_columns_5_to_8 = taxi[99,5:9]
rows_100_to_200_column_14 = taxi[100:201,14]

In [14]:
fare_amount = taxi[:,9]
fees_amount = taxi[:,10]
fare_and_fees = fare_amount + fees_amount
print("fare_amount = ", fare_amount,
      "\nfees_amount = ", fees_amount,
      "\nfare_and_fees = ", fare_and_fees)

fare_amount =  [52.  45.  36.5 ... 52.  34.5 48. ]
fees_amount =  [0.8 1.3 1.3 ... 0.8 1.3 1.3]
fare_and_fees =  [52.8 46.3 37.8 ... 52.8 35.8 49.3]

In [16]:
trip_distance_miles = taxi[:,7]
trip_length_seconds = taxi[:,8]

trip_length_hours = trip_length_seconds / 3600 # 3600 seconds is one hour
trip_mph = trip_distance_miles / trip_length_hours

print("trip_length_hours = ", trip_length_hours,
     "\n\ntrip_mph = ", trip_mph)

trip_length_hours =  [0.56583333 0.42222222 0.40611111 ... 0.78388889 0.30083333 0.47527778]

trip_mph =  [37.11340206 38.58157895 31.27222982 ... 22.29907867 42.41551247
 36.90473407]

In [17]:
mph_min = trip_mph.min()
mph_max = trip_mph.max()
mph_mean = trip_mph.mean()

In [18]:
# we'll compare against the first 5 rows only
taxi_first_five = taxi[:5]
# select these columns: fare_amount, fees_amount, tolls_amount, tip_amount
fare_components = taxi_first_five[:,9:13]
# sum the component columns
fare_sums = fare_components.sum(axis=1)

# select the total_amount column
fare_totals = taxi_first_five[:,13]

# compare the summed columns to the fare_totals
print(fare_totals)
print(fare_sums)

[69.99 54.3  37.8  32.76 18.8 ]
[69.99 54.3  37.8  32.76 18.8 ]